body {
    background: rgb(0,247,249);
    background: linear-gradient(90deg, rgba(0,247,249,1) 0%, rgba(215,14,14,1) 40%, rgba(255,196,0,1) 100%);
    font-family: alegreya-sc, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}